
/*

 晚上班-廖志勇
 CCS for index.html

 */

body{
	background-image: url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: Georgia;
	font-size: 11pt;
	color: #404040;
}

h1,.head2{
	background-color: #F0F0F0;	
	font-family: Century Gothic;
	color: #A4A400;
}

#big{
	font-size: 50px;
}
